{% extends 'index.html' %}
{% block saturs %}
<div class="col">
    <h2>Rezultāti</h2>
    {% if rezultati %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Lietotājvārds</th>
                <th>Punkti</th>
            </tr>
        </thead>
        <tbody>
            {% for r in rezultati %}
            <tr>
                <td>{{ r.lietotajs }}</td>
                <td>{{ r.punkti }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Nav neviena rezultāta vēl.</p>
    {% endif %}
</div>
{% endblock %}

